In [1]:
import pandas as pd

In [63]:
data = [
    ["A", "a,b,c"],
    ["B", "a"],
    ["C", "b,c"],
    ["D", "c"],
]
df_base = pd.DataFrame(data, columns=["COL", "VAL"])

# df_base

In [109]:
# 콤마로 분리해 열을 행으로 변경 재생성
data = [
    ["A", "a,b,c"],
    ["B", "a"],
    ["C", "b,c"],
    ["D", "c"],
]
df_base = pd.DataFrame(data, columns=["COL", "VAL"])
df_deleted = df_base.copy()

def del_row(key):
    # 해당 키 삭제
    del_idx = df_deleted[df_deleted["COL"] == key].index
    df_deleted.drop(del_idx, inplace=True)

def conv_row(key, val):    
    list_df = []
    list_vals = val.split(",")    
    for row in list_vals:
        list_temp = []
        list_temp.append(key)
        list_temp.append(row)
        list_df.append(list_temp)
    return pd.DataFrame(list_df, columns=["COL", "VAL"])

for label, contents in df_base.iterrows():
    if contents.VAL.count(",") > 0:
        del_row(contents.COL)

for label, contents in df_base.iterrows():
    if contents.VAL.count(",") > 0:
        del_row(contents.COL)
        df_temp = conv_row(contents.COL, contents.VAL)
        df_deleted = pd.concat([df_deleted, df_temp])

df_result = df_deleted.sort_values(by="COL")
df_result

  COL VAL
0   A   a
1   A   b
2   A   c
1   B   a
0   C   b
1   C   c
3   D   c