In [1]:
import datetime

In [2]:
day1 = datetime.date(2020, 12, 14)
day1

datetime.date(2020, 12, 14)

In [6]:
day2 = datetime.date(1995, 6, 5)
day2

datetime.date(1995, 6, 5)

In [7]:
diff = day1 - day2
diff

datetime.timedelta(days=9324)

In [9]:
day3 = datetime.datetime(2020, 12, 14, 14, 10, 50)

In [10]:
day3.hour

14

In [11]:
day3.minute

10

In [12]:
day3.second

50

In [13]:
day = datetime.date(2020, 12, 14)
time = datetime.time(10, 14, 50)
dt = datetime.datetime.combine(day, time)
dt

datetime.datetime(2020, 12, 14, 10, 14, 50)

In [16]:
# 0은 월요일을 의미한다. 차례대로 1은 화요일, 2는 수요일, 6은 일요일
day.weekday()

0

In [17]:
# 월요일은 1, 화요일은 2, ..., 일요일은 7을 리턴
day.isoweekday()

1

In [18]:
today = datetime.date.today()
today

datetime.date(2022, 1, 8)

In [20]:
diff_days = datetime.timedelta(days=50)
diff_days

datetime.timedelta(days=50)

In [21]:
today + diff_days

datetime.date(2022, 2, 27)

In [22]:
today - diff_days

datetime.date(2021, 11, 19)

In [23]:
# 윤년
import calendar

In [24]:
calendar.isleap(0)

True

In [25]:
calendar.isleap(1)

False

# deque - 데크

In [27]:
from collections import deque

In [31]:
a = [1, 2, 3, 4, 5]
q = deque(a)
# 우측으로 2칸 이동. 좌측은 -2
q.rotate(2)
result = list(q)
result

[4, 5, 1, 2, 3]

In [33]:
a = [1, 2, 3, 4, 5]
d = deque(a)

In [34]:
d.append(6)
d

deque([1, 2, 3, 4, 5, 6])

In [35]:
d.appendleft(0)
d

deque([0, 1, 2, 3, 4, 5, 6])

In [36]:
d.pop()
d

deque([0, 1, 2, 3, 4, 5])

In [37]:
d.popleft()
d

deque([1, 2, 3, 4, 5])

# collections.namedtuple - 키값이 있는 튜플

In [1]:
from collections import namedtuple

In [2]:
data = [
    ('홍길동', 23, '01099990001'),
    ('김철수', 31, '01099991002'),
    ('이영희', 29, '01099992003'),
]
data

[('홍길동', 23, '01099990001'),
 ('김철수', 31, '01099991002'),
 ('이영희', 29, '01099992003')]

In [3]:
employee = namedtuple('Employee', 'name, age, cellphone')
employee

__main__.Employee

In [6]:
data = [employee(emp[0], emp[1], emp[2]) for emp in data]
data

[Employee(name='홍길동', age=23, cellphone='01099990001'),
 Employee(name='김철수', age=31, cellphone='01099991002'),
 Employee(name='이영희', age=29, cellphone='01099992003')]

In [8]:
data = [employee._make(emp) for emp in data]
data

[Employee(name='홍길동', age=23, cellphone='01099990001'),
 Employee(name='김철수', age=31, cellphone='01099991002'),
 Employee(name='이영희', age=29, cellphone='01099992003')]

In [9]:
emp = data[0]

In [10]:
emp.name

'홍길동'

In [11]:
emp.age

23

In [12]:
emp.cellphone

'01099990001'

In [13]:
emp._asdict()

{'name': '홍길동', 'age': 23, 'cellphone': '01099990001'}

In [14]:
emp[0]

'홍길동'

In [15]:
emp[1]

23

In [16]:
emp[2]

'01099990001'

In [17]:
# 네임드튜플은 튜플의 값을 변경할 수 없는(immutable) 특징을 그대로 가지고 있기 때문에 속성 값을 변경하려고 하면 다음과 같은 오류가 발생한다.
emp.name = "etlers"

AttributeError: can't set attribute

In [19]:
# 값을 변경하려면 다음처럼 _replace 함수를 통해서만 가능
# _replace 함수는 해당 객체를 직접 변경하는 것은 아니고 변경된 새로운 객체를 만들어서 리턴해 준다
new_emp = emp._replace(name="etlers")
new_emp

Employee(name='etlers', age=23, cellphone='01099990001')

# collections.Counter - 동일한 요소의 갯수

In [21]:
from collections import Counter
import re

data = """
산에는 꽃 피네.
꽃이 피네.
갈 봄 여름없이
꽃이 피네.

산에
산에
피는 꽃은
저만치 혼자서 피어있네.

산에서 우는 새여
꽃이 좋아
산에서
사노라네.

산에는 꽃지네
꽃이 지네.
갈 봄 여름 없이
꽃이 지네.
"""

print(data)

산에는 꽃 피네.
꽃이 피네.
갈 봄 여름없이
꽃이 피네.

산에
산에
피는 꽃은
저만치 혼자서 피어있네.

산에서 우는 새여
꽃이 좋아
산에서
사노라네.

산에는 꽃지네
꽃이 지네.
갈 봄 여름 없이
꽃이 지네.

In [26]:
# 문장을 단어(\w+)별로 나누기 위해 다음처럼 re 모듈을 사용
words = re.findall(r'\w+', data)
counter = Counter(words)
print(counter)

Counter({'꽃이': 5, '피네': 3, '산에는': 2, '갈': 2, '봄': 2, '산에': 2, '산에서': 2, '지네': 2, '꽃': 1, '여름없이': 1, '피는': 1, '꽃은': 1, '저만치': 1, '혼자서': 1, '피어있네': 1, '우는': 1, '새여': 1, '좋아': 1, '사노라네': 1, '꽃지네': 1, '여름': 1, '없이': 1})

In [27]:
# 가장 빈도수가 높은 단어
print(counter.most_common(1))

[('꽃이', 5)]

In [28]:
# 두번째로 빈도수가 높은 단어
print(counter.most_common(2))

[('꽃이', 5), ('피네', 3)]

# collections.defaultdict - 딕셔너리의 초깃값

In [31]:
# 딕셔너리로 위와 같이 집계를 위한 코드를 작성할 경우에 초깃값은 항상 신경써야 하는 부분이다.
# 하지만 collections의 defaultdict를 사용하면 이러한 불편함을 없앨수 있다.
from collections import defaultdict

text = "Life is too short, You need python."

d = defaultdict(int)
for c in text:
    d[c] += 1
    
print(dict(d))

{'L': 1, 'i': 2, 'f': 1, 'e': 3, ' ': 6, 's': 2, 't': 3, 'o': 5, 'h': 2, 'r': 1, ',': 1, 'Y': 1, 'u': 1, 'n': 2, 'd': 1, 'p': 1, 'y': 1, '.': 1}

In [34]:
# list를 default_factory로 사용하면, 키-값 쌍의 시퀀스를 리스트의 딕셔너리로 쉽게 그룹화 
s = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
d = defaultdict(list)
for k, v in s:
    d[k].append(v)

sorted(d.items())

[('blue', [2, 4]), ('red', [1]), ('yellow', [1, 3])]

# heapq - 우선 순위 큐

In [41]:
import heapq

# heapush로 튜플을 추가할때는 데이터의 우선 순위를 나타내는 항목을 반드시 첫번째로 위치해야 한다.
# 따라서 기록과 이름을 쌍으로 갖는 튜플은 (이름, 기록) 구성이 아닌 (기록, 이름) 으로 구성해야 한다.
data = [
    (12.23, "강보람"),
    (12.31, "김지원"),
    (11.98, "박시우"),
    (11.99, "장준혁"),
    (11.67, "차정웅"),
    (12.02, "박중수"),
    (11.57, "차동현"),
    (12.04, "고미숙"),
    (11.92, "한시우"),
    (12.22, "이민석"),
]

data

[(12.23, '강보람'),
 (12.31, '김지원'),
 (11.98, '박시우'),
 (11.99, '장준혁'),
 (11.67, '차정웅'),
 (12.02, '박중수'),
 (11.57, '차동현'),
 (12.04, '고미숙'),
 (11.92, '한시우'),
 (12.22, '이민석')]

In [42]:
# 힙 생성
h = []
for score in data:
    # 힙에 데이터 저장
    heapq.heappush(h, score)
    
for i in range(3):
    # 최소값부터 힙 반환
    print(heapq.heappop(h))

(11.57, '차동현')
(11.67, '차정웅')
(11.92, '한시우')

In [43]:
# 힙 데이터를 생성하는 부분은 다음과 같이 heapify 함수를 사용하여 간략화
heapq.heapify(data)

for i in range(3):
    print(heapq.heappop(data))

(11.57, '차동현')
(11.67, '차정웅')
(11.92, '한시우')

In [44]:
print(heapq.nsmallest(3, data))

[(11.98, '박시우'), (11.99, '장준혁'), (12.02, '박중수')]

In [45]:
# 꼴찌부터 순위를 매긴다면 heapq.nlargest(3, data) 를 사용할 수 있다.

In [46]:
print(heapq.nlargest(3, data))

[(12.31, '김지원'), (12.23, '강보람'), (12.22, '이민석')]

# bisect - 이진 탐색

In [47]:
import bisect

In [48]:
result = []
for score in [33, 99, 77, 70, 89, 90, 100]:
    # 70점과 90점과 같이 학점을 구분하는 점수와 동일한 경우 bisect 함수는 좌측이 아닌 우측으로 삽입되는 인덱스를 반환
    pos = bisect.bisect([60, 70, 80, 90], score)
    grade = 'FDCBA'[pos]
    result.append(grade)
    
print(result)

['F', 'A', 'C', 'C', 'B', 'A', 'A']

In [50]:
# 초과로 변경되는 경우 bisect_left 적용
result = []
for score in [33, 99, 77, 70, 89, 90, 100]:
    # 70점과 90점과 같이 학점을 구분하는 점수와 동일한 경우 bisect 함수는 좌측이 아닌 우측으로 삽입되는 인덱스를 반환
    pos = bisect.bisect_left([60, 70, 80, 90], score)
    grade = 'FDCBA'[pos]
    result.append(grade)
    
print(result)

['F', 'A', 'C', 'D', 'B', 'B', 'A']

In [51]:
a = [60, 70, 80, 90]
bisect.insort(a, 85)
a

[60, 70, 80, 85, 90]

# enum - 상수 집합

In [2]:
from datetime import date
from enum import IntEnum

In [6]:
class Week(IntEnum):
    MONDAY = 1
    TUESDAY = 2
    WEDNESDAY = 3
    THURSDAY = 4
    FRIDAY = 5
    SATURDAY = 6
    SUNDAY = 7
    
def get_menu(input_date):
    menu = {
        Week.MONDAY: "김치찌개",
        Week.TUESDAY: "비빔밥",
        Week.WEDNESDAY: "된장찌개",
        Week.THURSDAY: "불고기",
        Week.FRIDAY: "갈비탕",
        Week.SATURDAY: "라면",
        Week.SUNDAY: "건빵",
    }
    
    return menu[input_date.isoweekday()]

print(get_menu(date(2020, 12, 6)))
print(get_menu(date(2020, 12, 18)))

건빵
갈비탕

In [7]:
Week.MONDAY.name

'MONDAY'

In [8]:
Week.MONDAY.value

1

In [10]:
for week in Week:
    print("{}:{}".format(week.name, week.value))

MONDAY:1
TUESDAY:2
WEDNESDAY:3
THURSDAY:4
FRIDAY:5
SATURDAY:6
SUNDAY:7