In [2]:
import pandas as pd

In [13]:
list_pre = [
    ["A", "a,b,c", 1, 2],
    ["B", "a", 3, 4],
]
df_pre = pd.DataFrame(list_pre, columns=["DAG_ID", "PRE_VAL", "PRE_SCHEDULE", "PRE_TAGS"])

list_now = [
    ["A", "a,b,c", 5, 6],
    ["C", "b,c", 7, 8],
    ["D", "c", 9, 0],
]
df_now = pd.DataFrame(list_now, columns=["DAG_ID", "NOW_VAL", "NOW_SCHEDULE", "NOW_TAGS"])

df_joined = pd.merge(
    df_pre, df_now, how="outer", on="DAG_ID", suffixes=("_L", "_R"), indicator=True
)

list_compare = []
for key, row in df_joined.iterrows():
    list_compare.append(list(row))
    
list_dag_info = []
for rows in list_compare:
    list_row = rows
    if rows[7] == "right_only":
        list_row.append("NEW")
    elif rows[7] == "left_only":
        list_row.append("DEL")
    else:
        div_cd = "-"
        for idx in range(1, 4):
            if rows[idx != rows[idx+3]]:
                div_cd = "CHG"
                break
        list_row.append(div_cd)
    list_dag_info.append(list_row)
    
list_dag_info

[['A', 'a,b,c', 1.0, 2.0, 'a,b,c', 5.0, 6.0, 'both', 'CHG'],
 ['B', 'a', 3.0, 4.0, nan, nan, nan, 'left_only', 'DEL'],
 ['C', nan, nan, nan, 'b,c', 7.0, 8.0, 'right_only', 'NEW'],
 ['D', nan, nan, nan, 'c', 9.0, 0.0, 'right_only', 'NEW']]

In [3]:
data = [
    ["A", "a,b,c", 1, 2],
    ["B", "a", 3, 4],
    ["C", "b,c", 5, 6],
    ["D", "c", 7, 8],
]
df_base = pd.DataFrame(data, columns=["COL", "VAL1", "VAL1", "VAL1"])

df_base

# list(df_base.columns)
# df_base.to_csv("aaa.csv", index=False)
# df_base

  COL   VAL1  VAL1  VAL1
0   A  a,b,c     1     2
1   B      a     3     4
2   C    b,c     5     6
3   D      c     7     8

In [5]:
list_data = [1, 1, 2, 3, 3, 3]
list(set(list_data))

[1, 2, 3]

In [2]:
# 콤마로 분리해 열을 행으로 변경 재생성
data = [
    ["A", "a,b,c", "Y"],
    ["B", "a", "N"],
    ["C", "b,c", "N"],
    ["D", "d", "Y"],
]
df_base = pd.DataFrame(data, columns=["COL", "VAL", "SERVICE_CODE"])
df_deleted = df_base.copy()

def del_row(key):
    # 해당 키 삭제
    del_idx = df_deleted[df_deleted["COL"] == key].index
    df_deleted.drop(del_idx, inplace=True)

def conv_row(key, val, service_code):    
    list_df = []
    list_vals = val.split(",")    
    for row in list_vals:
        list_temp = []
        list_temp.append(key)
        list_temp.append(row)
        list_temp.append(service_code)
        list_df.append(list_temp)
    
    return pd.DataFrame(list_df, columns=["COL", "VAL", "SERVICE_CODE"])

for label, contents in df_base.iterrows():
    if contents.VAL.count(",") > 0:
        del_row(contents.COL)

for label, contents in df_base.iterrows():    
    if contents.VAL.count(",") > 0:
        df_temp = conv_row(contents.COL, contents.VAL, contents.SERVICE_CODE)
        df_deleted = pd.concat([df_deleted, df_temp])

df_result = df_deleted.sort_values(by="COL")
# df_result = df_result[df_result["SERVICE_CODE"] == "Y"]
df_result

  COL VAL SERVICE_CODE
0   A   a            Y
1   A   b            Y
2   A   c            Y
1   B   a            N
0   C   b            N
1   C   c            N
3   D   d            Y

In [11]:
list_cols = df_result.columns
str(df_result.columns)
# for col in list_cols:
#     print(col)

"Index(['COL', 'VAL', 'SERVICE_CODE'], dtype='object')"

In [8]:
import json
import random

In [33]:
def make_json(idx, num):
    
    try:
        with open('./subdag_param.json','r') as f:
            dict_params = json.load(f)
        
        list_keys = dict_params["key2"]
        list_keys.append(num)
        dict_params["key2"] = list_keys
    except:
        dict_params = {
            "key1": idx,
            "key2": [num],
            "key3": 1234
        }
    
    with open('./subdag_param.json','w') as f:
        json.dump(dict_params,f)

for idx in range(5):
    make_json(idx, random.randint(1, 20))

In [23]:
dict_params = {
    "key1": idx,
    "key2": [1,2,3],
    "key3": 1234
}

list_keys = dict_params["key2"]
for key in list_keys:
    print(key)

1
2
3

In [37]:
list_dt = ["2021-08-01", "2021-08-02", "2021-08-03", "2021-08-04"]

msg = "("
for dt in list_dt:
    msg += "'" + dt + "', "
msg = msg + ")"
msg = msg.replace(", )",")")
msg

"('2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04')"

In [7]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
edt = datetime.now() - relativedelta(months=6)
print(edt)

2021-02-12 17:35:41.042509

In [3]:
import os

os.path.basename("C:/ProgramData/AhnLab/AIS/aaa.yaml").split(".")[0]

'aaa'

In [42]:
print(!(1 == 1))

SyntaxError: invalid syntax (<ipython-input-42-168f62ac9790>, line 1)