In [36]:
# K번째 수
"""
array
    [1, 5, 2, 6, 3, 7, 4]
commands
    [[2, 5, 3], [4, 4, 1], [1, 7, 3]]
return
    [5, 6, 3]
"""

def solution(array, commands):
    answer = list(map(lambda x:sorted(array[x[0]-1:x[1]])[x[2]-1], commands))

#     answer = []
#     for list_cmd in command:
#         istart = list_cmd[0]
#         iend = list_cmd[1]
#         ifind = list_cmd[2]
#         list_nums = array[istart-1: iend]
#         list_sorted = sorted(list_nums)
#         answer.append(list_sorted[ifind-1])
    
    return answer

In [37]:
result = solution(
    [1, 5, 2, 6, 3, 7, 4],
    [[2, 5, 3], [4, 4, 1], [1, 7, 3]]
)

result

[5, 6, 3]

In [186]:
# 가장 큰 수
# 
"""
numbers
    [6, 10, 2]
    [3, 30, 34, 5, 9]
return
    "6210"
    "9534330"
"""

def solution(numbers):
    list_string = list(map(lambda x:str(x), numbers))
    list_sorted = sorted(list_string, reverse=True)
    
    answer = ''.join(list_sorted)
    
    list_cuple = []
    for i in range(len(list_sorted)-1):
        list_cuple.append([i, i+1])

    for col in list_cuple:
        list_answer = list_sorted.copy()
        list_answer[col[0]] = list_sorted[col[1]]
        list_answer[col[1]] = list_sorted[col[0]]
        if "".join(list_answer) > answer:
            answer = "".join(list_answer)
    
    return answer

In [192]:
solution([3, 30, 34, 5, 9, 4, 40, 42])

'954244034303'

In [153]:
list_sorted = ['9', '5', '349', '309', '3']
answer = ''.join(list_sorted)
list_answer = list_sorted
for i in range(len(list_sorted)):
    # 0,1
    # 1,2

print(answer)

953493093

In [183]:
list_cuple = []
for i in range(len(list_sorted)-1):
    list_cuple.append([i, i+1])
    
list_sorted = ['9', '5', '34', '30', '3']
answer = ''.join(list_sorted)
for col in list_cuple:
    print(col)
    list_answer = list_sorted.copy()
    list_answer[col[0]] = list_sorted[col[1]]
    list_answer[col[1]] = list_sorted[col[0]]
    if "".join(list_answer) > answer:
        answer = "".join(list_answer)
        
answer

[0, 1]
[1, 2]
[2, 3]
[3, 4]

'9534330'

In [176]:
a = ['9', '5', '349', '309', '3']
a[0] = '5'
a[1] = '9'

In [177]:
a

['5', '9', '349', '309', '3']