# 함수형 프로그래밍 모듈

함수형 프로그래밍(Functional Programming)은 자료 처리를 수학적 함수의 계산으로 취급하고 상태와 가변 데이터를 멀리하는 프로그래밍 패러다임의 하나이다.
Functional Programming is programming without assignment satements

# itertools.cycle - 무한 반복자

In [2]:
import itertools

In [12]:
# 상담원을 요청할때마다 순서대로 상담원을 리턴하는 프로그램을 작성하시오.
emp_pool = itertools.cycle(['김은경', '이명자', '이성진'])

In [13]:
# 이터레이터의 다음 요소를 리턴하는 함수이다.
next(emp_pool)

'김은경'

In [14]:
next(emp_pool)

'이명자'

In [15]:
next(emp_pool)

'이성진'

In [16]:
next(emp_pool)

'김은경'

In [17]:
next(emp_pool)

'이명자'

In [18]:
next(emp_pool)

'이성진'

In [19]:
for _ in range(10):
    print(next(emp_pool))

김은경
이명자
이성진
김은경
이명자
이성진
김은경
이명자
이성진
김은경

# itertools.accumulate - 누적합 계산

In [21]:
monthly_income = [1161, 1814, 1270, 2256, 1413, 1842, 2221, 2207, 2450, 2823, 2540, 2134]

In [22]:
result = list(itertools.accumulate(monthly_income))
result

[1161, 2975, 4245, 6501, 7914, 9756, 11977, 14184, 16634, 19457, 21997, 24131]

In [23]:
# 월 별 누적 최댓값 보기
result = list(itertools.accumulate(monthly_income, max))
result

[1161, 1814, 1814, 2256, 2256, 2256, 2256, 2256, 2450, 2823, 2823, 2823]

# itertools.groupby - 키값으로 분류

In [26]:
data = [
    {'name': '이민서', 'blood': 'O'},
    {'name': '이영순', 'blood': 'B'},
    {'name': '이상호', 'blood': 'AB'},
    {'name': '김지민', 'blood': 'B'},
    {'name': '최상현', 'blood': 'AB'},
    {'name': '김지아', 'blood': 'A'},
    {'name': '손우진', 'blood': 'A'},
    {'name': '박은주', 'blood': 'A'}
]
data

[{'name': '이민서', 'blood': 'O'},
 {'name': '이영순', 'blood': 'B'},
 {'name': '이상호', 'blood': 'AB'},
 {'name': '김지민', 'blood': 'B'},
 {'name': '최상현', 'blood': 'AB'},
 {'name': '김지아', 'blood': 'A'},
 {'name': '손우진', 'blood': 'A'},
 {'name': '박은주', 'blood': 'A'}]

In [27]:
import operator

In [40]:
# 정렬없이 적용하면 뒤죽박죽이 됨
data = sorted(data, key=operator.itemgetter('blood'))
data

[{'name': '김지아', 'blood': 'A'},
 {'name': '손우진', 'blood': 'A'},
 {'name': '박은주', 'blood': 'A'},
 {'name': '이상호', 'blood': 'AB'},
 {'name': '최상현', 'blood': 'AB'},
 {'name': '이영순', 'blood': 'B'},
 {'name': '김지민', 'blood': 'B'},
 {'name': '이민서', 'blood': 'O'}]

In [41]:
grouped_data = itertools.groupby(data, key=operator.itemgetter('blood'))
grouped_data

In [42]:
result = {}
for key, group_data in grouped_data:
    result[key] = list(group_data)
    
result

{'A': [{'name': '김지아', 'blood': 'A'},
  {'name': '손우진', 'blood': 'A'},
  {'name': '박은주', 'blood': 'A'}],
 'AB': [{'name': '이상호', 'blood': 'AB'}, {'name': '최상현', 'blood': 'AB'}],
 'B': [{'name': '이영순', 'blood': 'B'}, {'name': '김지민', 'blood': 'B'}],
 'O': [{'name': '이민서', 'blood': 'O'}]}

# itertools.zip_longest - 사이즈가 큰 것을 기준으로 묶기

In [43]:
students = ['한민서', '황지민', '이영철', '이광수', '김승민']
rewards = ['사탕', '초컬릿', '젤리']

In [45]:
result = zip(students, rewards)
# 갯수가 일치하지 않아 적은 것만큼 생성
print(list(result))

[('한민서', '사탕'), ('황지민', '초컬릿'), ('이영철', '젤리')]

In [47]:
result = itertools.zip_longest(students, rewards, fillvalue="새우깡")
list(result)

[('한민서', '사탕'), ('황지민', '초컬릿'), ('이영철', '젤리'), ('이광수', '새우깡'), ('김승민', '새우깡')]

# itertools.permutations - 순열

In [52]:
# 2자리 숫자의 총 경우의 수
list(itertools.permutations(['1', '2', '3'], 2))

[('1', '2'), ('1', '3'), ('2', '1'), ('2', '3'), ('3', '1'), ('3', '2')]

In [53]:
for a, b in itertools.permutations(['1', '2', '3'], 2):
    print(a + b)

12
13
21
23
31
32

In [56]:
# 2개의 조합을 고르는 경우의 수
list(itertools.combinations(['1', '2', '3'], 2))

[('1', '2'), ('1', '3'), ('2', '3')]

# itertools.combinations - 조합

In [9]:
# 중복 미허용
it = itertools.combinations(range(1, 46), 6)
len(list(it))

8145060

In [10]:
# 중복조합
len(list(itertools.combinations_with_replacement(range(1, 46), 6)))

15890700

# functools.cmp_to_key - 함수로 정렬

In [11]:
import functools

In [16]:
def xy_compare(n1, n2):
    if n1[1] > n2[1]:         # y 좌표가 크면
        return 1
    elif n1[1] == n2[1]:      # y 좌표가 같으면
        if n1[0] > n2[0]:     # x 좌표가 크면
            return 1
        elif n1[0] == n2[0]:  # x 좌표가 같으면
            return 0
        else:                 # x 좌표가 작으면
            return -1
    else:                     # y 좌표가 작으면
        return -1
    
src = [(0, 4), (1, 2), (1, -1), (2, 2), (3, 3)]
# functools.cmp_to_key(func) 함수는 sorted와 같은 정렬 함수의 key 매개변수에 함수(func)를 전달할 때 사용하는 함수이다.
# 단, func 함수는 두 개의 인수를 받아들이고,
# 첫번째 인수를 기준으로 그들을 비교하여, 작으면 음수, 같으면 0, 크면 양수를 반환하는 비교 함수이어야 한다.
result = sorted(src, key=functools.cmp_to_key(xy_compare))

print(result)

[(1, -1), (1, 2), (2, 2), (3, 3), (0, 4)]

# functools.partial - 인수를 지정하여 함수 재정의

In [17]:
from functools import partial

In [18]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [20]:
add = partial(add_mul, 'add')
mul = partial(add_mul, 'mul')

In [21]:
print(add(1, 2, 3, 4, 5))

15

In [22]:
print(mul(1, 2, 3, 4, 5))

120

In [24]:
add = partial(add_mul, 'add', 100)
add(1)

101

In [25]:
mul = partial(add_mul, 'mul', 1000)
mul(2, 3)

6000

In [26]:
print(add.func)

<function add_mul at 0x7fcf482cef70>

In [27]:
print(add.args)

('add', 100)

# functools.reduce - 함수 적용하여 단일값으로 줄여나가기

In [29]:
data = [1, 2, 3, 4, 5]
# reduce에 선언된 lambda 함수를 data의 요소들에 차례대로 누적 적용하여 다음과 같이 계산된다.
result = functools.reduce(lambda x, y: x + y, data)
result

15

In [30]:
# 최댓값 구하기
num_list = [3, 2, 8, 1, 6, 7]
max_num = functools.reduce(lambda x, y: x if x > y else y, num_list)
max_num

8

In [31]:
# 최소값 구하기
min_num = functools.reduce(lambda x, y: x if x < y else y, num_list)
min_num

1

# functools.wraps - 래퍼함수의 속성 유지

@functools.wraps(wrapped)는 래퍼함수를 정의할 때 함수의 이름이나 설명문 같은 속성들을 유지할 수 있게 만들어 주는 데코레이터이다.

In [32]:
import functools
import time

def elapsed(original_func):
    @functools.wraps(original_func)  # 여기에 추가!!
    def wrapper(*args, **kwargs):
        start = time.time()
        result = original_func(*args, **kwargs)
        end = time.time()
        print("함수 수행시간: %f 초" % (end - start))
        return result

    return wrapper


@elapsed
def add(a, b):
    """ 두 수 a, b를 더한값을 리턴하는 함수 """
    return a + b

In [34]:
print(add)

<function add at 0x7fcf482ce8b0>

In [36]:
help(add)

Help on function add in module __main__:

add(a, b)
    두 수 a, b를 더한값을 리턴하는 함수

In [37]:
add(1, 3)

함수 수행시간: 0.000001 초

4

# operator.itemgetter - 다중 수준 정렬

주로 sorted와 같은 함수의 key 매개변수에 적용되어 다중 수준의 정렬을 가능하게 해주는 모듈이다.

In [38]:
students = [
    ("jane", 22, 'A'),
    ("dave", 32, 'B'),
    ("sally", 17, 'B'),
]
students

[('jane', 22, 'A'), ('dave', 32, 'B'), ('sally', 17, 'B')]

In [40]:
from operator import itemgetter

# itemgetter(1)은 students의 item인 튜플의 2번째 요소로 소트를 하겠다는 의미
result = sorted(students, key=itemgetter(1))
result

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [41]:
dict_students = [
    {"name": "jane", "age": 22, "grade": 'A'},
    {"name": "dave", "age": 32, "grade": 'B'},
    {"name": "sally", "age": 17, "grade": 'B'},
]

result = sorted(dict_students, key=itemgetter('age'))
result

[{'name': 'sally', 'age': 17, 'grade': 'B'},
 {'name': 'jane', 'age': 22, 'grade': 'A'},
 {'name': 'dave', 'age': 32, 'grade': 'B'}]

In [44]:
# 만약 students 리스트의 요소가 튜플이 아닌 Student 클래스의 객체일 경우에는 다음처럼 attrgetter를 적용하여 소트해야 한다.
from operator import attrgetter

class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade
        
students = [
    Student('jane', 22, 'A'),
    Student('dave', 32, 'B'),
    Student('sally', 17, 'B'),
]

result = sorted(students, key=attrgetter('age'))