In [1]:
import pandas as pd

In [2]:
def print_val(x):
    print(x)

In [5]:
data = {'team' : ['russia', 'saudiarabia', 'egypt', 'uruguay'],
        'against': ['saudiarabia', 'russia', 'uruguay', 'egypt'],
        'fifa_rank': [65, 63, 31, 21]}
columns = ['team', 'against', 'fifa_rank']
df = pd.DataFrame(data, columns = columns)
df

          team      against  fifa_rank
0       russia  saudiarabia         65
1  saudiarabia       russia         63
2        egypt      uruguay         31
3      uruguay        egypt         21

In [7]:
df['team'].map(lambda x : print_val(x))

russia
saudiarabia
egypt
uruguay

0    None
1    None
2    None
3    None
Name: team, dtype: object

In [9]:
def relative_record(x, y):
    print(x, y)

In [10]:
df.apply(lambda x:relative_record(x['team'], x['against']), axis=1)

russia saudiarabia
saudiarabia russia
egypt uruguay
uruguay egypt

0    None
1    None
2    None
3    None
dtype: object